:root {
  --page-background-color: #f3e6d8;
  --recipe-background-color: #ffffff;
  --border-color: hsl(30, 18%, 87%);
  --time-title-color: #7b284f;
  --time-background-color: #fff5fa;
  --section-title-color: #854632;
  --text-color: hsl(30, 10%, 34%);
  --strong-color: hsl(24, 5%, 18%);
}

html {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--page-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  color: var(--text-color);
  width: 100%;
  margin: 0;
}
main {
  box-sizing: border-box;
  width: 50%;
  background-color: var(--recipe-background-color);
  border-radius: 20px;
  padding: 40px;
  margin: 130px auto;
}

img-container {
  width: 100%;
}



img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

h1 {
  color: black;
}
.title {
  font-family: "Young Serif", serif;
}
.section-title {
  font-size: 1.8em;
  color: var(--section-title-color);
}

h1 {
  font-size: 2.3em;
}
.recipe-description {
  margin-bottom: 2rem;
}

.smaller-title {
  color: var(--time-title-color);
}

.preparation-time {
  background-color: var(--time-background-color);
  padding: 20px;
  border-radius: 10px;
}
.preparation-time-list {
  padding: 0;
  list-style-position: inside;
}

ul li {
  list-style: none;
  margin-bottom: 1rem;
}

ul li::before {
  content: "•";
  color: var(--section-title-color);
  margin-right: 2rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

hr {
  margin-top: 2rem;
}

.ingredients-list {
  list-style-position: inside;
  padding: 0;
}

ol {
  counter-reset: custom-counter;
  list-style: none;
  padding-left: 6px;
}

ol li {
  margin-bottom: 1rem;
  counter-increment: custom-counter;
  position: relative;

  text-indent: -2em;
  padding-left: 2em;
}

ol li::before {
  content: counter(custom-counter) ". ";
  color: var(--section-title-color);
  margin-right: 1rem;
  font-weight: bold;
}

.nutritions-table {
  width: 100%;
  border-collapse: collapse;
}

td strong {
  color: var(--section-title-color);
}

.nutritions-table td {
  padding: 10px 20px;
}

.nutritions-table tr {
  border-bottom: 1px solid gray;
}

.nutritions-table tr:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  body {
    background-color: var(--recipe-background-color);
  }

  img {
    border-radius: 0;
  }
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
